In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/sample.csv")

In [3]:
df

,restaurant_name,menu_category,item_id,menu_item,menu_description,ingredient_name,confidence,categories,address1,city,zip_code,country,state,rating,review_count,price
0,20 spot,no proof,24932147,"""amaro"" spritz","pathfinder amaro, tonic",pathfinder amaro,0.95,New American|Wine Bars,3565 20th St,San Francisco,94110.0,US,CA,4.3,270.0,$$
1,20 spot,no proof,24932146,"""gin & tonic""",lyre's,gin,0.80,New American|Wine Bars,3565 20th St,San Francisco,94110.0,US,CA,4.3,270.0,$$
2,20 spot,no proof,24932145,amalfi spritz,lyre's,amalfi spritz,0.95,New American|Wine Bars,3565 20th St,San Francisco,94110.0,US,CA,4.3,270.0,$$
3,20 spot,no proof,24932145,amalfi spritz,lyre's,lyre's,0.80,New American|Wine Bars,3565 20th St,San Francisco,94110.0,US,CA,4.3,270.0,$$
4,20 spot,pet-nat & sparkling wine,24932165,"athenais de beru, ‘love joy’, chardonnay",NaN,"athenais de beru, 'love joy', chardonnay",0.90,New American|Wine Bars,3565 20th St,San Francisco,94110.0,US,CA,4.3,270.0,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52691,yucatasia,maya especialidades,24398826,49. cabeza de res,beef tongue tossed in cabbage and radish serve...,tortilla,0.90,Mexican,2164 Mission St,San Francisco,94110.0,US,CA,4.0,80.0,$
52692,yucatasia,maya especialidades,24398828,50. pibes,baked corn masa stuffed with chicken and pork ...,chicken,0.80,Mexican,2164 Mission St,San Francisco,94110.0,US,CA,4.0,80.0,$
52693,yucatasia,maya especialidades,24398828,50. pibes,baked corn masa stuffed with chicken and pork ...,corn masa,0.90,Mexican,2164 Mission St,San Francisco,94110.0,US,CA,4.0,80.0,$
52694,yucatasia,maya especialidades,24398828,50. pibes,baked corn masa stuffed with chicken and pork ...,pork,0.80,Mexican,2164 Mission St,San Francisco,94110.0,US,CA,4.0,80.0,$
52695,yucatasia,maya especialidades,24398828,50. pibes,baked corn masa stuffed with chicken and pork ...,salsa,0.70,Mexican,2164 Mission St,San Francisco,94110.0,US,CA,4.0,80.0,$

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52696 entries, 0 to 52695
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   restaurant_name   52696 non-null  object
 1   menu_category     52683 non-null  object
 2   item_id           52696 non-null  int64
 3   menu_item         52696 non-null  object
 4   menu_description  38903 non-null  object
 5   ingredient_name   52654 non-null  object
 6   confidence        52696 non-null  float64
 7   categories        52556 non-null  object
 8   address1          52556 non-null  object
 9   city              52556 non-null  object
 10  zip_code          52556 non-null  float64
 11  country           52556 non-null  object
 12  state             52556 non-null  object
 13  rating            52556 non-null  float64
 14  review_count      52556 non-null  float64
 15  price             44088 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 6.4+ MB

In [7]:
df["price"].value_counts()

price
$$      33758
$        7351
$$$      2085
$$$$      894
Name: count, dtype: int64

In [10]:
import random
def random_price_value(price_val):
    # Handle missing values
    if pd.isna(price_val):
        return None
    # Convert to string and strip spaces
    price_str = str(price_val).strip()
    # Check that there is at least one dollar sign
    if '$' not in price_str:
        return None
    # Count the number of dollar signs
    count = price_str.count('$')
    if count == 1:
        return random.randint(1, 9)
    elif count == 2:
        return random.randint(11, 99)
    elif count == 3:
        return random.randint(101, 999)
    elif count == 4:
        return random.randint(1001, 9999)
    else:
        return None

# Apply the function to create a new numeric price column
df['price_numeric'] = df['price'].apply(random_price_value)

In [11]:
df['price_numeric']

0        77.0
1        48.0
2        70.0
3        19.0
4        34.0
         ...
52691     8.0
52692     7.0
52693     9.0
52694     8.0
52695     6.0
Name: price_numeric, Length: 52696, dtype: float64

In [12]:
df.columns

Index(['restaurant_name', 'menu_category', 'item_id', 'menu_item',
       'menu_description', 'ingredient_name', 'confidence', 'categories',
       'address1', 'city', 'zip_code', 'country', 'state', 'rating',
       'review_count', 'price', 'price_numeric'],
      dtype='object')

In [13]:
df = df.drop("price", axis=1)

In [14]:
df.columns

Index(['restaurant_name', 'menu_category', 'item_id', 'menu_item',
       'menu_description', 'ingredient_name', 'confidence', 'categories',
       'address1', 'city', 'zip_code', 'country', 'state', 'rating',
       'review_count', 'price_numeric'],
      dtype='object')

In [15]:
df.to_csv("sample2.csv", index=False)